[submodule "submodules/noarr-structures"]
	path = submodules/noarr-structures
	url = https://github.com/ParaCoToUl/noarr-structures
	branch = main
[submodule "submodules/OpenCL-Headers"]
	path = submodules/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
	branch = main
[submodule "submodules/OpenCL-ICD-Loader"]
	path = submodules/OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader
	branch = main
[submodule "submodules/OpenCL-CLHPP"]
	path = submodules/OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP
	branch = main
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/VTK"]
	path = submodules/VTK
	url = https://github.com/Kitware/VTK.git
